<article class="about page" id="sobre">
  <h1 class="h1">Sobre o Projeto</h1>
  <p>
  O projeto “Cartografias infantis: a cidade pela criança, a fotografia pela infância” reúne fotografias tiradas por diferentes grupos de crianças de diferentes lugares da cidade de Porto Alegre.</p> 
  <p>
  Este projeto tem como objetivo mapear Porto Alegre através do olhar de suas crianças. Tais fotografias estarão disponíveis aqui onde as pessoas poderão acessar a cidade de Porto Alegre por este outro ponto de vista.</p>
  <p>
  Para realizar as fotografias são feitas oficinas com os grupos de crianças que se reúnem com os coordenadores do projeto e se deslocam para um ponto da cidade com máquinas fotográficas. Tais encontros também são repletos de conversas e impressões feitas pelas crianças sobre a cidade e a fotografia, que muitas vezes se refletem no nome que elas dão para suas imagens.</p>
  <p>
  As fotografias desta mostra são resultantes das seguintes oficinas: com as crianças da Comunidade Quilombola do AREAL em Março de 2011, com as crianças da Colônia de Férias do Espaço Múltiplo em Julho de 2010 e Janeiro de 2011, as crianças da turma 34 do Colégio Rosário e as crianças da Aldeia Kaigang da Lomba do Pinheiro em maio de 2011.
  </p>
</article>
