<article class="about page" id="realizadores">
  <h1 class="h1">Realizadores do Projeto</h1>
  <div class="content">
    <ul>
      <li> <b>Luciano Bedin</b>, coordenador </li>
      <li> <b>Mayra Redin</b>, coordenadora </li>
      <li> <b>Larisa Da Veiga Vieira Bandeira</b>, coordenadora e oficineira </li>
      <li> <b>Rafael Bandeira</b>, desenvolvimento web </li>
      <li> <b>Natália Arsand</b>, design e marca </li>
      <li> <b>Luciana Bandeira</b>, fotógrafa </li>
      <li> <b>Carolina Gobatto</b>, observadora externa </li>
    </ul>
  </div>
</article>
