<article class="about page" id="realizadores">
  <h1 class="h1">Realizadores do Projeto</h1>
  <p>
  Esse projeto é coordenado pelo professor Luciano Bedin e pela artista plástica Mayra Redin.</p>
  <p>
  Oficineira de apoio: Larisa Da Veiga Vieira Bandeira</p>
  <p>
  WEB: Rafael Bandeira e Natália Arsand</p>
  <p>
  Fotógrafa que acompanha o projeto: Luciana Bandeira</p>
  </p>
  <p>
  Observadora externa: Carolina Gobatto
  </p>
</article>
